.info{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    padding: 30px;
}
.wrapp{
    display: flex;
    align-items: flex-start;

}
.avatar{
    width: 200px;
}
.avatar img{
    width: 100%;
}
.about{
    padding-left: 20px;
}
.about h3{
    font-size: 24px;
    color: #003C80;
}
.about span{
    display: inline-block;
    padding-top: 5px;
    color: #003C80;
    font-size: 14px;
    padding-bottom: 30px;
}
.about p{
    padding-bottom: 10px;
    font-size: 16px;
    color: #4d90fe;
}
.driver{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.driver .aboutDriver{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.driver .aboutDriver h4{
    color: #003C80;
    font-size: 18px;
}
.driver .aboutDriver span{
    color: #4d90fe;
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
}