.check input{
    display: none;
    opacity: 0;
    overflow: hidden;
}
.check label{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #003c80;
    position: relative;
    display: inline-block;
}
.check label:after{
    content: "";
    left: 5px;
    position: absolute;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #003c80;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}
.check input:checked~label:after{
    opacity: 1;
}
