.wrap {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    text-align: center;
  }
  .text {
    padding-top: 53px;
  }
  .text h5 {
    font-size: 19px;
    font-weight: 500;
    color: #211c35;
  }
  .text p {
    font-size: 15px;
    line-height: 1.13;
    color: #333339;
    padding-top: 14px;
  }
  