.buttonContStyle {
  padding: 20px 0;
  text-align: center;
}
.buttonContStyle button {
  min-width: 220px;
  padding: 13px 0;
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: #ffffff;
  background-color: #2272c5;
  background-image: linear-gradient(to right, #2272c5, #003c80);
  border-radius: 10px;
}
