.header {
    position: relative;
    background-image: linear-gradient(to right, #2272c5, #003c80);
    color: #939da8;
    z-index: 1000;
    padding: 15px 40px;
}

.logo {
    height: 30px;
}
.listItemText{
    display: flex;
    align-items: center;
}
.listItemText span{
    margin-left: 10px;
    font-size: 17px;
    color: #ffffff;
}