.about {
  padding: 30px 0 20px;
  display: block;
  min-height: 280px;
}
.text {
  text-align: center;
  margin: 40px 0;
}
.text p {
  font-size: 18px;
}
.title {
  margin: 20px auto;
  text-align: center;
}
.title h2{
  font-size: 30px;
  color: #003C80;
}
