.root {
  color: #fff;
  background: #bfbfbf;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
}

.root:focus {
  outline: 0;
  opacity: 0.9;
}

.sm {
  font-size: 14px;
  width: 103px;
  height: 35px;
}

.md {
  font-size: 15px;
  width: 141px;
  height: 48px;
}

.lg {
  font-size: 18px;
  font-weight: 500;
  width: 225px;
  height: 64px;
}

.fullWidth {
  width: 100%;
}

.primary {
  color: #fff;
  background-color: #003c80;
  border-color: #2272c5;
}

.primary:hover {
  color: #fff;
  background-color: #003c80;
  border-color: #2272c5;
}

.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.secondary {
  background-color: #fff;
  border: 1.5px solid #fff;
  color: green;
  font-weight: 500;
}

.readOnly {
  background-color: var(--color-blue-gray);
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}