.wrap {
  padding: 30px 0 20px;
  min-height: 460px;
  display: block;
}
.title {
  margin: 20px auto;
  text-align: center;
}
.title h2 {
  font-size: 30px;
  color: #003c80;
}
.content {
  margin: 40px 0;
}
.item {
  text-align: center;
}
.img {
  padding: 20px 0;
}
.img img {
  width: 200px;
  object-fit: contain;
}
.text p {
  font-size: 18px;
}
