header {
  position: fixed;
  width: 100%;
  z-index: 4;
  background-image: linear-gradient(to right, #2272c5, #003c80);
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.logo {
  width: 160px;
}
.logo img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}
.menu{
  display: flex;
  align-items: center;
}
.menu ul{
  display: flex;
}
.menu ul li{
  position: relative;
  list-style: none;
}
.menu ul li a{
  display: block;
  padding: 10px 15px;
  color: #fff;
}
.btn a{
  background-color: #fff;
  color: #003C80;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.btn a span{
  display: block;
  padding-left: 5px;
}