*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "SF UI Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-size: 14px;
  user-select: none;
  color: #333;
}
 
div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}
 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
 
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}
 
table {
  border-collapse: separate;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

caption, th, td {
  text-align: left;
  vertical-align: middle;
}
 
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

a img {
  border: 0;
}
 
:focus {
  outline: 0;
}
input, textarea, select, button {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content{
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.maps-content{
  margin-top: 30px;
  min-width: 500px;
  padding-bottom: 90%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.orderMap{
  .maps-content{
    padding-bottom: 30%;
    border-radius: 0;
    position: relative;
    
    .map-title{
      position: absolute;
      z-index: 10;
      background-color: rgba(0, 60, 128, 0.6);
      width: 380px;
      top: 0;
      p{
        text-align: left;
        color: #ffffff;
        padding-left: 10px;
        span{
          display: inline-block;
          padding-left: 10px;
        }
      }
    }
  }
}


.google-maps-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.order-view-map {
    width: calc(100% - 286px);
    height: calc(100% - 69px);
    right: 0;
    top: 134px;
    left: auto;
  }
}

.map-marker {
  position: absolute;
  width: 18px;
  height:40px;
  top:-30px;
  left: 0;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform: translate3d(-50%, 0, 0);
  -webkit-filter: drop-shadow(-3px 3px 2px rgba(black, 0.1));
  filter: drop-shadow(-3px 3px 2px rgba(black, 0.1));
  svg {
    width: 100%;
  }
}
.map-loader {
  background: rgb(255, 255, 255);
  border: 0px;
  // margin: 10px;
  padding: 0px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 33;
}
.css-yk16xz-control{
  min-height: 45px !important;
}
.autocomplete-dropdown-container{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 50px;
  z-index: 10;
}
.react-datepicker-wrapper{
  display: block;
}

.truck-marker-img {
  width: 60px;
}
li.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}