.root{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    max-width: 15%;
    color: #939da8;
    background-image: linear-gradient(to right, #2272c5, #003c80)
}

.page-content {
    background-color: #f6f8f8;
    flex: 0 0 85%;
    max-width: 85%;
}
.title{
    margin-top: 0;
}
.title h1{
    font-weight: 300;
    line-height: 1.5;
    font-size: 22px;
}
.page-header {
    padding: 8px 15px;
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #dee5e7;
    z-index: 1;
}

.breadcrumb {
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    font-size: 12px;
    position: relative;
    padding: 0 10px;
}

.breadcrumb > li + li:before {
    color: #003c80;
    content: '/';
    position: absolute;
    left: 0;
}

.breadcrumb-text {
    color: #333;
    font-size: 14px;
}

.breadcrumb li a .breadcrumb-text:hover {
    color: #003c80;
}

.main-content {
    background: #fff;
    padding: 20px;
}