

.wrap{
  margin: 30px 0;
}
.question {
  display: flex;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(2, 10, 39, 0.08);
  border-radius: 8px;
  background-color: rgba(40, 40, 51, 0.1);
}

.question h5 {
  font-size  : 17px;
  font-weight: 800;
  color: #33343a;
}
.answer{
  height: 0;
  padding: 0 10px;
  transition: 0.5s;
  overflow: hidden;
  text-align: left;
}
.active{
  transition: 0.5s;
  height: 100px;
}