.root {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    /* width: 100%; */
    min-width: 300px;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 20px;
  }
  .content ul {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 10px;
  }
  .content ul li {
    list-style: none;
    padding: 0 8px;
  }