.wrap {
  padding: 30px 0 20px;
  min-height: 460px;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/img/trucks.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.title {
  margin: 20px auto;
  text-align: center;
}
.title h2 {
  font-size: 30px;
  color: #ffffff;
}
.content {
  margin: 40px 0;
}
.item {
  text-align: center;
}
.img {
  padding: 20px 0;
}
.img img {
  width: 200px;
  object-fit: contain;
}
.text p {
  font-size: 18px;
  color: #ffffff;
}
