.root {
    padding-bottom: 23px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
  }
  .label {
    font-weight: 700;
    font-size: 12px;
    color: #474657;
    margin-right: auto;
    display: flex;
    padding-bottom: 7px;
    
  }
  textarea{
    width: 100%;
    min-height: 110px;
    border-radius: 10px;
    border: 1px solid #f2f2f3;
  }
  