.list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  
  .listText {
    padding-right: 10px;
    p {
      font-size: 16px;
      color: #33343a;
    }
  }
  .menu{
    ul{
      display:flex;
      align-items: center;
      li{
        list-style: none;
        padding: 0 5px;
        p{
          font-size: 16px;
          color: #33343a;
        }
        a{
          display: block;
          text-decoration: none;
          color: #003C80;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }