.wrap{
  padding: 30px 0 20px;
    width: 100%;
    min-height: 550px;
    display: block;
    background-image: url('../../../assets/img/ararat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}
.title {
  margin: 20px auto;
  text-align: center;
}
.title h2 {
  font-size: 30px;
  color: #ffffff;
}
