.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-list li {
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    border-top: rgba(255, 255, 255, 0.1) 1px solid;
    padding: 15px 20px;
    color: #c2c9c9;
    font-size: 14px;
    line-height: 14px;
    /* height: 45px; */
    transition: all 0.3s ease 0s;
    position: relative;
}


.sidebar-list li ul{
    left: 100%;
    padding: 0;
    top:0;
    position: absolute;
    border: 0;
    background-image: linear-gradient(to right, #2272c5, #003c80);
    display: none;
    min-width: 200px;
    z-index: 15;
}
.sidebar-list li ul li{
    padding: 0 20px 0 10px;
    display: flex;
    align-items: center;
    height: 45px;
}
.sidebar-list li:hover ul {
   display: block;
}
.sidebar-list li:hover, .sidebar-list li.active {
    background-image: linear-gradient(to right, #2272c5, #003c80);
}
.listItemText {
    display: flex;
    align-items: center;
}
.listItemText p{
    color: #ffffff;
    font-size: 14px;
}

.listItemText span {
    margin-left: 15px;
}