footer {
  display: block;
  background-image: linear-gradient(to right, #2272c5, #003c80);
  min-height: 200px;
  padding: 50px 0;
}
.content {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 160px;
}
.logo img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}
.info {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.policy ul {
  display: flex;
}
.policy ul li {
  list-style: none;
}
.policy ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}
.policy ul li :first-child a{
  padding-left: 0;
}

.policy ul li a:after {
  content: "|";
  position: absolute;
  left: 100%;
  top: 0px;
  color: #fff;
}
.policy ul li:last-child  a::after {
  display: none;
}
.social ul {
  display: flex;
  align-items: center;
}
.social ul li {
  list-style: none;
  padding:0 10px;
}
.social ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.btn a{
  background: #ffffff;
  color: #2272C5;
  padding: 6px 12px;
  border-radius: 4px;
}