.radio{
      position: relative;
      padding: 0 20px;
      // &::after{
      //   content: "";
      //   position: absolute;
      //   height: 100px;
      //   width: 100px;
      //   border-radius: 10px;
      //   top: 0;
      //   left: 10px;
      //   background-color: rgba(0, 0, 0, 0.45);
      // }
    input{
        display: none;
        &:checked{
            +label{
                img{
                  box-shadow: 0 7px 26px 0 rgba(6, 36, 143, 0.5);
                }
            }
        }
    }
    label{
      width: 100px;
      height: 100px;
      img{
        object-fit: contain;
      }
    }
    h4{
      z-index: 9;
      color: #003c80;
      text-align: center;
      display: block;
      padding-top: 15px;
    }
}

.RadioWrapp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -20px;

}