
.root{
    text-align: center;
    padding: 6px 14px;
    display: inline-block;
    border-radius: 6px;
}
.primary {
    color: #fff;
    background-color: #003c80;
    border-color: #2272c5;
  }
  
  .primary:hover {
    color: #fff;
    background-color: #003c80;
    border-color: #2272c5;
  }
  
  .success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  
  .success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
  
  .danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  
  .danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
  