.show{
    width: 220px;
    padding: 10px 0;
    border: 1px solid #ce0000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.show p{
    font-size: 18px;
    color: #ce0000;
    text-align: center;
}
.show span{
    position: absolute;
    color: #ce0000;
    right: 5px;
    top: 5px;
}