.wrap {
  height: 700px;
  position: relative;
  display: flex;
  background-image: url('../../../assets/img/slider_image_full.jpg');
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.addressWrapp{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.address{
  padding: 0 10px;
  position: relative;
}
.orderMap{
  position: absolute;
  width: 990px;
  height: 400px;
  max-height: 400px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
